.section-divider {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid var(--divider);
  margin-top: var(--spacing-40);
  font-size: 20px;
}

.btn-save-settings {
  display: block;
  margin-top: var(--spacing-40);
  border: 0;
  background-color: var(--primary);
  color: var(--white-text);
  padding: var(--spacing-10);
  font-size: 18px;
  font-family: var(--font-stack);
  transition: 150ms;
}

.btn-save-settings:hover {
  background-color: var(--dark-primary);
  cursor: pointer;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--spacing-10);
}

.card {
  min-width: 300px;
  flex: 1;
  padding: var(--spacing-20);
  background-color: var(--primary);
  color: var(--light-primary);
  text-align: center;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-text);
}

.card-heading {
  font-size: 28px;
  color: var(--white-text);
}

.card-body {
  padding-bottom: var(--spacing-30);
}

.card-footer {
  background-color: var(--light-primary);
  color: var(--primary-text);
  padding: var(--spacing-10);
}
