@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-stack: "Merriweather", serif;

  --spacing-0: 0;
  --spacing-10: 10px;
  --spacing-20: 20px;
  --spacing-30: 30px;
  --spacing-40: 40px;

  /* https://www.materialpalette.com/brown/grey */
  --dark-primary: #5d4037;
  --light-primary: #d7ccc8;
  --primary: #795548;
  --white-text: #fff;
  --accent: #9e9e9e;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #bdbdbd;
  --error: #da1717;
  --dark-error: #9b0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  color: var(--primary-text);
  background-color: var(--light-primary);
  margin: var(--spacing-0);
  padding: var(--spacing-0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--spacing-0);
}

form {
  display: flex;
  flex-direction: row;
}

img {
  width: 100%;
  height: auto;
}

aside {
  border-right: 1px solid var(--secondary-text);
  padding-right: var(--spacing-40);
}

.content {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-20) var(--spacing-40);
}

.screens {
  width: 100%;
  padding-left: var(--spacing-40);
}

.error {
  border: 1px solid var(--dark-error);
  background-color: var(--error);
  color: var(--white-text);
  padding: var(--spacing-20);
  margin-bottom: var(--spacing-20);
}

.error p {
  font-size: 20px;
  font-weight: bold;
  margin-top: var(--spacing-0);
}

.heading {
  font-size: 32px;
}

.profile-img {
  width: 184px;
  height: 184px;
  border-radius: 10px;
  /* https://getcssscan.com/css-box-shadow-examples #44 by Tobias Ahlin */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
